<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin Remove</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script>
        window.onsubmit = submit;

        function submit() {
            return window.confirm("Are you sure you want to remove all courses?");
        }
    </script>

	<h1>Removing All Courses</h1>
    
    <%- path %>
        <input type="submit" value="Remove all courses">
    </form>

    <br>
    <hr>
    
    <a href="/index">HOME</a>
</body>

</html>