<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin Grade</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Display Courses with Grades Equal to</h1>
    
    <%- path %>
        
        <label><strong>Grade: </strong><input type="text" name="grade"></label>
     
        <br><br>

		<input type="submit" value="Submit Request"/>
    </form>

	<hr>
    
    <a href="/index">HOME</a>
</body>

</html>