<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <title>Course Database</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Welcome to your Course Database</h1>

    <h2>Course Input</h2>

    <ul>
        <li>To add a course <a href="/courseInput"><span class="link">Course</span></a></li>
        <li>To review a course select <a href="/reviewCourse"><span class="link">Course Review</span></a></li>
    </ul>

    <hr>

    <h2>Admin</h2>

    <ul>
        <li>To select a course based on grade <a href="/adminGrade"><span class="link">Select by Grade</span></a></li>
        <li>To select a course based on professor <a href="/adminProfessor"><span class="link">Select by Professor</span></a></li>
        <li>To select a course based on semester <a href="/adminSemester"><span class="link">Select by Semeste</span>r</a></li>
        <li>To calculate a semesters gpa <a href="/adminGPA"><span class="link">Semester GPA</span></a></li>
        <li>To remove all courses <a href="/adminRemove"><span class="link">Remove All Courses</span></a></li>
    </ul>

    <hr>
</body>

</html>