<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Course Professors</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Display Courses with specified Professor: <%- professor %></h1>
    
    <div>
        <%- professorTable %>
    </div>

    <br>
    
    <a href="/index">HOME</a>
</body>

</html>