<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Removal of All Courses</h1>
    
    All courses have been removed from the database. Number of courses removed: <%- numRemoved %>

    <br><br><br>
    
    <a href="/index">HOME</a>
</body>

</html>