<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Semester Courses</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Display Courses from Semester: <%- semester %></h1>
    
    <div>
        <%- semesterTable %>
    </div>

    <br>
    
    <a href="/index">HOME</a>
</body>

</html>